main
{
  
  margin: auto;
  width: 300px;
  border: solid #fff;
}
body
{
background-color: #151320;
}
.imagem
{
    margin-bottom: 3%;
    border: ridge;
    margin-top: 50%;
}
.text
{
    margin-top: 1%;
    color:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: dimgrey;
    text-align: justify;
}